.about{
    background-color: var(--primary-color);
    padding: 137px 0;    
    text-align: center;
    h2{
    padding: 3rem;

  }
}

.video-container {
    width: 100%;
    max-width: 100%;
  }
  
.video {
  box-shadow: 0px 0px 20px black;
  width: 90%;
  height: auto;
  min-width: 321px;
  min-height: 180px;
}
.social_media_container{
  margin: 2rem 0;
  display: flex;
  justify-content: center;
}
.svg_social_media a{
  text-decoration: none;
  padding: 5px;
  margin: 5px;
}