.about{
    background-color: var(--primary-color);
    text-align: center;
    h2{
    padding-top: 2rem;
}
}



.video-container {
    width: 100%;
    max-width: 100%;
  }
  
  .video {
    box-shadow: 0px 0px 20px black;
    margin: 137px 0;    
    width: 90%;
    height: auto;
    min-width: 321px;
    min-height: 180px;
  }
  
  