.header {
	position: relative;
	padding: 110px 15px;
	min-width: 320px;
	max-width: 460px;
	text-align: center;
	background-size: cover;
	background-position: center;
	animation: changeBackground 3s infinite;
    h1 {
		font-family: "Stardos Stencil", system-ui;
		position: relative;
		z-index: 10;
		color: var(--white);
		display: inline-flex;
		flex-direction: column;
		line-height: 60px;
		padding-top: 20px;
		font-weight: 900;
		align-items: center;
		justify-content: center;
		max-width: 100%;
	
		span {
			color: var(--primary-color);
			width: auto;
			text-align: center;
			display: block;
		}
	}
}
.header::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.85);
	z-index: 1;
}
.logo_header {
	width: 80%;
	position: relative;
	z-index: 10;
}
@keyframes changeBackground {
	0% {
		background-image: url("../assets/photosHeader/photo1.jpg");
	}

	20% {
		background-image: url("../assets/photosHeader/photo2.jpg");
	}

	40% {
		background-image: url("../assets/photosHeader/photo3.jpg");
	}

	60% {
		background-image: url("../assets/photosHeader/photo4.jpg");
	}

	80% {
		background-image: url("../assets/photosHeader/photo5.jpg");
	}
	100% {
		background-image: url("../assets/photosHeader/photo6.jpg");
	}
}

