:root {
	--white: #fff;
	--primary-color: #9747ff;
	--black: #000;
	--yelow: #FBC926;
	--general-background: #141118;
	--gradient-gold: linear-gradient(90deg, #fbc926, #e28950, #fbc926);
	--gray: #949396;
	--gradien-GoldStandardPresencial: linear-gradient(135deg, #9747FF, #fbc926);
	--gradient-GoldStandardOnline: linear-gradient(135deg, #9747FF, #0D56DD);
	--gradient-PremiumBasic: linear-gradient(90deg, #9747ff,#9747ff);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
@font-face {
	font-family: "Zuume";
	src: url("./assets/fonts/ZuumeBold.ttf");
}
@font-face {
	font-family: "Stencil";
	src: url("./assets/fonts/StencilStdBold.ttf");
}
h1 {
	font-size: 60px;
	font-family: "Stencil";
	font-weight: 400;
	letter-spacing: 2px;
}
h2 {
	font-size: 50px;
	font-family: "Zuume", sans-serif;
	color: var(--white);
	font-weight: 400;
	text-transform: uppercase;
}
h4{
	font-size: 15px;
    font-family: "Urbanist", sans-serif;
    color: var(--primary-color);
    font-weight: 900;
    text-transform: uppercase;

}
.responsive p{
	display: none;
}
@media (min-width: 465px) {
	.responsive{
		place-content: center;
		text-align: center;
		position: fixed;
		z-index: 100;
		width: 100%;
		background-color: var(--general-background);
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	.responsive p{
		color: var(--white);
		display: block;
		font-size: 40px;
		font-weight: 600;
		margin: 0 50px;
		font-family: "Urbanist", sans-serif;
	}
}
